# Flutter y Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/build/
.pub-cache/
.pub/

# Android
android/gradle/wrapper/gradle-wrapper.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/*.iml

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# IDEs (VS Code, Android Studio)
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# FIREBASE Y CLAVES (IMPORTANTE: No subir a GitHub)
# Estos archivos los guardarás en Google Drive
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
key.properties